<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749249311347-1140cbhum6sn52l792138fjt7rll9bkm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749249311347-1140cbhum6sn52l792138fjt7rll9bkm</string>
	<key>API_KEY</key>
	<string>AIzaSyAfJcvVj40rDCKd4PbzOEslx87IPl_HmBM</string>
	<key>GCM_SENDER_ID</key>
	<string>749249311347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saifo.bizzyupdated.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bizzy-app-ab5b9</string>
	<key>STORAGE_BUCKET</key>
	<string>bizzy-app-ab5b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749249311347:ios:e48f041edd34f06054b006</string>
</dict>
</plist>